$font-family-base: 'Zen Kurenaido', 'sans-serif';
$font-size-base: 1.2rem;
$line-height-base: 1.3;

@import '~bootstrap/scss/bootstrap';

.navbar {
    border-bottom: 2px solid #000;
    position: absolute;
    height: 7vh;
    left: 0;
    right: 0;
    box-sizing: border-box;

    h1 {
        font-size: 2.1rem;
        margin-bottom: 0;

        a {
            font-size: 2.0rem;
        }

        img {
            padding-right: 0.2rem;
        }
    }
}

.content {
    position: absolute;
    top: 7vh;
    height: 93vh;
    left: 0;
    right: 0;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
}

.navbar-collapse {
    &.collapsing,
    &.show {
        position: absolute;
        top: 7vh;
        left: 0;
        right: 0;
        background: #FFF;
        z-index: 100;
        padding: 0.3rem 1rem;
        border-bottom: 2px solid #000;
    }
}

.sidebar {
    border-right: 2px solid #000;
    overflow-y: scroll;
    padding: 1rem;
}

.viewport {
    position: relative;
}

#viewport, #map {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.map-controls {
    margin: 0 3rem;
    padding: 1rem;
    position: relative;
    z-index: 1;
}

h1 {
    font-size: 2rem;
    font-weight: bold;

    span {
        display: block;
        font-size: 0.8em;
        color: #666;
        margin-top: 0.5rem;
    }
}

h2 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1em;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.partners {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    max-width: 100%;
    align-items: center;

    a img {
        display: block;
        max-width: 100%;
    }
}
